.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20vw;
  @media screen and (max-width: 600px) {
    z-index: 20;
    height: 30vw;
    margin-top: 7vw;
  }
  .content {
    font-size: 1.3vw;
    font-weight: bold;
    @media screen and (max-width: 600px) {
      font-size: 2.5vw;
      margin-top: 1.3vw;
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 90%;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    @media screen and(max-width:600px) {
      height: 70%;
      width: 85%;
    }
    .item {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: flex-end;
      width: 40%;
      height: 50%;
      @media screen and (max-width: 600px) {
        width: 60%;
        height: 50%;
      }
      .iconItem {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 85%;
        margin-top: 1vw;
        @media screen and (max-width: 600px) {
          width: 55vw;
        }
        .icons {
          font-size: 1.2vw !important;
          @media screen and (max-width: 600px) {
            font-size: 3.5vw !important;
          }
        }
      }

      .socItem {
        display: flex;
        justify-content: space-between;
        margin: 1vw auto;
        font-size: 4vw;
        width: 10vw;
        @media screen and (max-width:600px) {
          width: 25vw;
        }
        .socicon {
          font-size: 3.7vw !important;
          cursor: pointer;

        }
        @media screen and (max-width: 600px) {
          font-size: 9vw !important;
        }
        .hoverIcons:nth-child(1):hover,:nth-child(3):hover{
          color: blue;
        }
      }
      .title {
        font-family: "Montserrat", sans-serif;
        color: #e93c3c;
        font-size: 1.7vw;
        margin: 0 auto;
        @media screen and (max-width: 600px) {
          font-size: 3vw;
        }
      }
      .content {
        font-size: 1.2vw;
        font-weight: normal;
        margin-left: 1vw;
        @media screen and (max-width: 600px) {
          font-size: 2.8vw;
        }
      }
    }
  }
  .copyright {
    font-size: 1.4vw;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    @media screen and (max-width: 600px) {
      font-size: 2vw;
    }
  }
}
